* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.købBoks button {
  max-width: 10rem;
  display: flex;
  padding: 10px;
  background-color: green;
  border: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

h4 {
  color: dimgrey;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.heroheader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: coral;
  font-size: 16rem;
}

.heroheader span {
  color: blue;
}

h1 {
  color: coral;
}

h1 span {
  color: blue;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.kategorier ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: white;
  padding: 1rem;
  list-style: none;
  text-decoration: none;
}

.brandList {
  display: flex;
  align-items: center;
}

a {
  list-style: none;
  text-decoration: none;
}

.produktside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.produktside img {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 3;
  width: 100%;
}

.købBoks {
  display: grid;
  grid-column: 2;
  border: lightgrey 1px solid;
  border-radius: 2%;
  box-shadow: 0.5px 0.5px;
  padding: 1rem;
  max-width: fit-content;
  gap: 1rem;
}

.produktliste {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.produktliste article {
  border: 3px solid orange;
}

.prodBoks {
  display: grid;
  gap: 1rem;
}

.soldOut {
  opacity: 0.5;
}

.produktliste article.soldOut::before {
  content: "Udsolgt";
  position: absolute;
  background: red;
  padding: 1rem;
}

.disCount {
  display: none;
}

.disCounted {
  display: block;
  color: red;
}

/** DESKTOP **/
@media (min-width: 750px) {
}
