* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  max-width: 10rem;
}

body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

h1 {
  color: coral;
}

h1 span {
  color: blue;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.kategorier {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.kategorier a {
  background-color: chocolate;
  color: white;
  padding: 1rem;
}

.produktside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.produktside img {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 3;
  width: 100%;
}

.womenstop {
  display: grid;
  grid-column: 2;
}

.køb {
  display: grid;
  grid-column: 2;
  background-color: lightgrey;
  padding: 1rem;
  max-width: fit-content;
}

dt {
  font-weight: bold;
}

dd {
  padding: 0.6rem;
}

.produktliste {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.produktliste article {
  display: flex;
  flex-direction: column;
}

.soldOut {
  opacity: 0.5;
}

/** DESKTOP **/
@media (min-width: 750px) {
}
